# Credentials & Security Targets
.env
**/.env
profiles.yml
**/profiles.yml
ai_logistics_transform/.user.yml

# Databases & Runtime Locks
*.duckdb
*.duckdb.wal
**/logistics.duckdb
**/metastore_db/
**/derby.log

# Raw Data Lakes & Spark Checkpoints
data/
**/data/
checkpoints/
**/checkpoints/
*.parquet
*.crc

# Compilation Contexts & Logs
target/
**/target/
logs/
**/logs/

# Python Virtual Env & Local Workspace Settings
logistics_env/
**/logistics_env/
__pycache__/
.vscode/
cloudflared.exe