.env
**/.env
profiles.yml
**/profiles.yml
ai_logistics_transform/.user.yml

*.duckdb
*.duckdb.wal
**/logistics.duckdb
**/metastore_db/
**/derby.log

data/
**/data/
checkpoints/
**/checkpoints/
*.parquet
*.crc

target/
**/target/
logs/
**/logs/

logistics_env/
**/logistics_env/
__pycache__/
.vscode/
cloudflared.exe
models_registry/*.pkl

checkpoints/*